.gradient-custom {
  background: linear-gradient(to right, rgb(43, 7, 82), rgb(3, 20, 51))
}
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }